{% extends "base.html" %}

{% block content %}

<table>
  <thead>
    <tr>
      <th>Release Year</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Episodes</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
{% for item in media_data %}

<tr>
  {% for i in range(item|length) %}

  {% if i == 4 %}
  
  <td>
    <form action="/api/update_media_status" method="post">
      <input type="hidden" name="" value="{{ item[1] }}">
      <input type="number" name="current_ep" value="{{ item[4] }}" size="6">/{{ item[5] }}
      <input type="submit" value="Save">
    </form>
  </td>

  {% elif i == 5 %}

  {% else %}
  <td>{{ item[i] }}</td>
  {% endif %}

  {% endfor %}
</tr>

{% endfor %}
  </tbody>
</table>

{% endblock content %}
