{% extends "base.html" %}

{% block content %}

<table>
  <thead>
    <tr>
      <th>Release Year</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Episodes</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
{% for item in media_data %}

<tr>
  {% for i in range(item|length) %}

  {% if i == 5 %}
  
  <td>
    <form action="/api/update_media_status" method="post">
      <input type="hidden" name="media_id" value="{{ item[0] }}">
      <input type="number" name="current_ep" value="{{ item[5] }}" size="6" min="0" max="{{ item[6] }}">/{{ item[6] }}
      <input type="submit" value="Save">
    </form>
  </td>

  {% elif i == 6 or i == 0 %}

  {% elif i == 2 %}

  <td><a href="/media/{{ item[0] }}">{{ item[2] }}</a></td>

  {% elif i == 7 %}

  <td>
    <form action="/api/update_rating" method="post">
      <input type="hidden" name="media_id" value="{{ item[0] }}">
      <input type="number" name="input_rating" value="{{ item[7] }}" size="1" min="0" max="5">
      <input type="submit" name="" value="Rate">
    </form>
  </td>

  {% else %}
  <td>{{ item[i] }}</td>
  {% endif %}

  {% endfor %}
</tr>

{% endfor %}
  </tbody>
</table>

{% endblock content %}
