{% extends "base.html" %}

{% block content %}
<form action="/api/register" method="post">
  <ul>

    <li>

      <label for="emailInput">Email: </label>
      <input type="email" name="emailInput" id="emailInput" />

    </li>

    <li>

      <label for="userInput">Username: </label>
      <input type="text" name="userInput" id="userInput" />

    </li>

    <li>

      <label for="dateInput">Date of birth: </label>
      <input type="date" name="dateInput" id="dateInput" />

    </li>

    <li>

      <label for="passwordInput">Password: </label>
      <input type="password" name="passwordInput" id="passwordInput" />

    </li>

    <li>

      <input type="submit" name="" value="Register" />

    </li>

  </ul>
</form>
{% endblock content %}
